{# The registry pull Secret written into each namespace that pulls a private image; `namespace` is passed in by the including task. #}
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: {{ github_runner_arc_image_pull_secret_name | to_json }}
  namespace: {{ namespace | to_json }}
data:
  .dockerconfigjson: {{ ({'auths': {github_runner_arc_image_pull_registry: {'username': github_runner_arc_ghcr_username, 'password': github_runner_arc_ghcr_token, 'auth': (github_runner_arc_ghcr_username ~ ':' ~ github_runner_arc_ghcr_token) | b64encode}}}) | to_json | b64encode | to_json }}
